html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  height: auto;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.content {
  margin: 120px 0 0 0;
  width: 80vw;
  /* 100vh (display) - 100px (top nav bar) - 20px (padding top nav bar) - 3em (footer) */
  height: calc(100vh - 120px - 3em);
  background-color: rgba(50, 200, 100, 0.2);
  overflow: clip;
}

.story_01,
.home {
  background-color: #f2f2f2;
  color: rgb(0, 0, 0);
}

#emb1 {
  width: 100%;
  height: 100%;
}

.top-navigation * {
  margin: 0;
}

.top-navigation {
  position: fixed;
  width: 100vw;
  background-color: rgba(10, 150, 90, 1);
  height: 100px;
  margin: 0;
  top: 0;
  border: 0;
  padding: 5px;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.top-navigation h1 {
  margin: 0;
  font-size: 32px;
  text-align: center;
  flex: 2;
}

.top-buttons {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 3;
  flex-wrap: wrap;
}

.top-navigation button {
  list-style: none;
}

.choice__button {
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  margin: 5px;
}

.choice__button:hover {
  text-decoration: underline;
}

.partners {
  position: fixed;
  top: 120px;
  right: 0;
  width: 16vw;
  height: 100%;
  background-color: #e1e1e1;
  padding: 2vw;
  text-align: left;
}

.partners a {
  padding: 20px;
  height: 6em;
  /*! width: 101em; */
  display: block;
}

.partners img,
.partners svg {
  width: 90%;
  height: auto;
}

.captions {
  width: 20vw;
  flex: 1;
  position: sticky;
  top: 0;
  padding: 20px;
}

.story_nocap {
  width: calc(100vw - 60px);
  height: calc(100vh - 60px);
  text-align: left;
  overflow-y: scroll;
  border: solid yellow 15px;
  padding: 15px;
}

.pictureSidebar {
  float: right;
  clear: right;
  max-width: 500px;
  z-index: 9;
  position: sticky;
  font-size: 12px;
}

.pictureBundle {
  margin: 5px 5px 10px;
  background-color: #e8ebee;
}

.pictureSource {
  font-size: 10px;
  margin: 2px;
}

.pictureBundle>img {
  width: 100%;
}

.story {
  width: 80vw;
  flex: 4;
  height: 100vh;
  text-align: left;
  overflow-y: scroll;
  z-index: 2;
}

.background {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0px;
  opacity: 0.2;
  width: 100%;
  z-index: 5;
  pointer-events: none;
  /* This will allow scrolling on elements behind the figure */

}

.background>img {
  width: 100%;
  height: auto;
  z-index: 1;
}

#backgroundHome {
  left: 15px;
  top: 15px;
  width: calc(100% - 30px);
}

.grid-container {
  display: flex;
  flex-direction: row;
}

h1, h2, h3, p {
  opacity: 1;
}

footer {
  height: 3em;
  width: 80vw;
}

label {
  /* width: 80%;*/
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

.yes-no {
  display: flex;
}

.yes-no>input {
  display: inline-block;
  margin: 5px 10px 5px 15px;
}

.yes-no>label {
  display: inline-block;
  margin: 5px;
}

.contribute-form input[type="radio"] {
  display: inline-block;
  margin-top: 0.5em;
  margin-right: 0.2em;
  height: 1em;
}

input[type=radio] {
  margin-right: 10px;
}

.text-input {
  width: 100%;
  max-width: 800px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
}

.story_position {
  padding: 20px;
}

/* Styles for desktop devices */
@media screen and (min-width: 1001px) {

  h1, h2, h3, h4, h5, h6, p, li, footer {
    font-size: 16px;
  }
}

/* Styles for small mobile devices */
@media screen and (max-width: 500px) {

  h1, h2, h3, h4, h5, h6, p, li, footer {
    font-size: 10px;
  }
}

/* Styles for small tablets and mobile devices */
@media screen and (max-width: 800px) {

  h1, h2, h3, h4, h5, h6, p, li, footer {
    font-size: 11.5px;
  }

  .partners {
    width: 18vw;
    padding: 1vw;
  }

  .partners a {
    padding: 1px;
  }

  .story_position {
    padding: 2px;
  }

  .pictureSidebar {
    /* max-width: 100%; */
    display: flex;
    flex-direction: column;
  }

  .pictureSidebar {
    max-width: 100%;
  }
}

/* Styles for tablet devices */
@media screen and (min-width: 768px) and (max-width: 1000px) {

  h1, h2, h3, h4, h5, h6, p, li, footer {
    font-size: 14.5px;
  }

  .story_position {
    padding: 12px;
  }

  .pictureSidebar {
    max-width: 380px;
  }
}

/* Styles for mobile devices */
@media screen and (min-width: 501px) and (max-width: 767px) {

  h1, h2, h3, h4, h5, h6, p, li, footer {
    font-size: 13px;
  }

  .partners {
    width: 18vw;
    padding: 1vw;
  }

  .partners a {
    padding: 10px;
  }

  .story {
    padding: 20px;
  }

  .story_position {
    padding: 8px;
  }
}